body{
    background-color: rgb(5, 103, 103);
}
*{
    box-sizing: border-box;
}
 .column{
     float: left;
     width: 33.33%;
     padding: 5px;
 }
 .row::after{
     content: "";
     Display: table;
     Clear: both;
 }